{% extends "base.html" %}
{% block title %}Changer mot de passe{% endblock %}
{% block content %}
<h2>🔁 Changement obligatoire de mot de passe</h2>
<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Changer le mot de passe</button>
</form> -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <ul class="errorlist">
            {% for field, errors in form.errors.items %}
                <li>{{ field }}:
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <button type="submit">Changer le mot de passe</button>
</form>
{% endblock %}
